node_modules
backend/vendor
backend/bootstrap/cache/*.php
backend/storage/app/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/logs/*
backend/public/storage
.git
.github
.vscode
.DS_Store
*.log
.env
.env.local
.env.production
uploads
Dockerfile
.dockerignore
README.md
