APP_NAME=ATS
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://ats-website-ats.up.railway.app
FRONTEND_URL=https://ats-website-flax.vercel.app
CORS_ALLOWED_ORIGINS=https://ats-website-flax.vercel.app,https://ats-website-ats.up.railway.app

DB_CONNECTION=pgsql
DATABASE_URL=${{ats.DATABASE_URL}}
DB_SSLMODE=require

FILESYSTEM_DISK=public

ADMIN_NAME=Admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change-this-password
ADMIN_PHONE=
